<header id="header" class="header d-flex flex-column justify-content-center">
  <i class="header-toggle d-xl-none bi bi-list"></i>
  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
      <li><a href="/#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
      <li><a href="/#techstack"><i class="bi bi-code navicon"></i><span>TechStack</span></a></li>
      <li><a href="/#timeline"><i class="bi bi-file-earmark-text navicon"></i><span>Timeline</span></a></li>
      <li><a href="/projects" class="active"><i class="bi bi-images navicon"></i><span>Portfolio</span></a></li>
    </ul>
  </nav>
</header>

<main class="main">
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Projects</h2>
      <p id="category_description">
      </p>
      <%# <div class="bg-warning mt-5"> <strong>Note: </strong> I'm currently in the process of hosting all my projects—more will be added soon! In the meantime, feel free to check out the rest on my Github.</div> %>

    </div><!-- End Section Title -->

    <div class="container">
      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active" data-description="">All</li>
          <%# <li data-filter=".filter-work" data-description="Work Projects">Work</li> %>
          <% @categories.each do |category| %>
            <li 
              data-filter=".<%= category.slug %>" 
              data-description="<%= j category.description %>">
              <%= category.name %>
            </li>
          <% end %>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">     
        
        <% @projects.each do |project| %>
          <div class="card m-1 col-lg-3 col-md col-sm-12 text-decoration-none text-dark portfolio-item isotope-item <%= project.category.slug %> <%= project.category.slug == 'filter-work' ? 'filter-php' : '' %>" style="height: 350px;">
            <%= link_to project_path(project.slug), class: "card-body" do %>
            <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text description-line-limit"><%= project.description %></p>
              <div>
                <% project.tags.first(2).each do |tag| %>
                  <span class="badge bg-secondary me-1" style="font-size: 0.75rem;"><%= tag.name %></span>
                <% end %>
                <span class="badge bg-secondary">
                  <i class="bi bi-calendar" style="font-size: 0.75rem;"></i> <%= project.year_created %>
                </span>
              </div>
              <% end %>
              <div class="project-links mt-2">
                <% if project.github_link.present? %>
                  <a href="<%= project.github_link %>" target="_blank"><i class="bi bi-github fs-3 me-2"></i></a>
                <% end %>
                
                <% if project.live_link.present? %>
                  <a href="<%= project.live_link %>" target="_blank"><i class="bi bi-globe fs-3"></i></a></i>
                <% end %>
              </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </section>
</main>

 